<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../scripts.js" rel="scripts" />
    <link href="../style.css" rel="stylesheet" />
    <title>Tela Login</title>
  </head>
  <body>
    <main class="container">
      <h1>Cadastre-se Agora!</h1>

      <div class="input-box">
        <p>Nome</p>
        <input placeholder="Digite seu nome" type="inputbox" />
      </div>

      <div class="input-box">
        <p>E-mail</p>
        <input placeholder="email@exemplo.com" type="inputbox" />
      </div>

      <div class="input-box">
        <p>Senha</p>
        <input placeholder="Crie uma senha" type="password" />
      </div>

      <div class="input-box">
        <p>Tipo de Usuário</p>
        <div class="selection">
        <select required>
          <option value="" disabled selected hidden>
            Escolhe entre Organizador ou Participante
          </option>
          <option value="op1">Organizador</option>
          <option value="op2">Participante</option>
          </div>
        </select>
      </div>

      <button type="submit" class="login">Entrar</button>

      <div class="register">
        <p>Já tem uma conta?<a href="../pages/login.html"> Faça o Login</a></p>
      </div>
    </main>
  </body>
</html>
